<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Tech - Nova Postagem</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

    <!--Cria menu hamburguer na responsividade-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

     <!------------------------NAVEGAÇÃO SUPERIOR------------------------>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      <a class="navbar-brand" href="#">BLOG TECH</a>
      
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li class="nav-item active">
          <a class="nav-link" href="/index.html">Página inicial <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Artigos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Vídeos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Downloads</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Quem somos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>

      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
    </div>

  </nav>

  <!------------------------CORPO DA PÁGINA------------------------>

    <h3>Nova publicação</h3>

    <form action="/post/cadastrar" method="POST" th:object="${postobj}" id="formpost">

      <div class="form-group">
        <label for="titulo">Título da publicação</label>
        <input type="text" class="form-control" id="titulo" placeholder="">
      </div>

      <div class="form-group">
        <label for="subtitulo">Subtítulo da publicação</label>
        <input type="text" class="form-control" id="subtitulo" placeholder="">
      </div>

      <div class="form-group">
        <label for="categoria">Selecione a categoria com a qual sua publicação mais se identifica</label>
        <select class="form-control" id="categoria">
          <option selected disabled>Escolha a opção</option>
          <option>Big Data e Análise de Dados</option>
          <option>Blockchain e criptomoedas</option>
          <option>Cibersegurança</option>
          <option>Computação em nuvem</option>
          <option>DevOps</option>
          <option>Games e Entretenimento</option>
          <option>Hardware</option>
          <option>Internet das Coisas</option>
          <option>Inteligência Artificial e Machine Learning</option>
          <option>Programação/desenvolvimento</option>
          <option>Tecnologias emergentes</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="textopublicacao">Escreva aqui o seu texto</label>
        <textarea class="form-control" id="textopublicacao" rows="8"></textarea>
      </div>

      <div>
        <input type="submit" class="btn btn-success" value="Publicar">
        <a href="/" class="btn btn-primary">Voltar</a>
      </div>

    </form>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>